@tailwind base;
@tailwind components;
@tailwind utilities;

 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000a25;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(95, 0, 0);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 0, 0); 
}

.Container::-webkit-scrollbar{
  display: none;
}

.redBottom{
    border:none;
    position: relative;
    justify-content:space-between;
}

.redBottom::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    left: 0;
    bottom:0;
    background-color: rgb(255, 0, 0);
    transition: all ease-in-out .5s;
    /* position: relative; */
}
.redBottom:hover::after{
    width: 100%;
    border-bottom: 2px solid red;
    left: 10;
  }
  .redBottom:active{
    border-bottom: 2px solid red;
  }
  .carousel-indicators{
    right: 0 !important;
    bottom:0 !important;
    left: 60% !important;
 
  }
  
  .carousel-indicators [data-bs-target]{
    box-sizing: content-box !important;
border-radius: 50%;
    flex: 0 1 auto !important;
    width: 15px !important;
    height: 15px !important;
    padding: 0 !important;
    /* margin-right: 3px !important;
    margin-left: 3px !important; */
    text-indent: -999px !important;
    cursor: pointer !important;
    background-color: red !important;
    background-clip: padding-box !important;
    border: 0 !important;
    /* border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; */
    /* opacity: .8 !important; */
    transition: opacity .6s ease !important;
  }