
 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000a25;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(95, 0, 0);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 0, 0); 
}

.Container::-webkit-scrollbar{
  display: none;
}

.redBottom{
    border:none;
    position: relative;
    justify-content:space-between;
}

.redBottom::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    left: 0;
    bottom:0;
    background-color: rgb(255, 0, 0);
    transition: all ease-in-out .5s;
    /* position: relative; */
}
.redBottom:hover::after{
    width: 100%;
    border-bottom: 2px solid red;
    left: 10;
  }
  .redBottom:active{
    border-bottom: 2px solid red;
  }